@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>左侧导航menu</title>
    <link href="~/Content/admin/css/css.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/admin/js/sdmenu.js"></script>
    <script type="text/javascript">    
            var myMenu;
    window.onload = function () {
        myMenu = new SDMenu("my_menu");
        myMenu.init();
    };
    // ]]>
    </script>
    <style type=text/css>
        html {
            SCROLLBAR-FACE-COLOR: #538ec6;
            SCROLLBAR-HIGHLIGHT-COLOR: #dce5f0;
            SCROLLBAR-SHADOW-COLOR: #2c6daa;
            SCROLLBAR-3DLIGHT-COLOR: #dce5f0;
            SCROLLBAR-ARROW-COLOR: #2c6daa;
            SCROLLBAR-TRACK-COLOR: #dce5f0;
            SCROLLBAR-DARKSHADOW-COLOR: #dce5f0;
            overflow-x: hidden;
        }

        body {
            overflow-x: hidden;
            background: url(../Content/admin/images/main/leftbg.jpg) left top repeat-y #f2f0f5;
            width: 194px;
        }
    </style>
</head>
<body onselectstart="return false;" ondragstart="return false;" oncontextmenu="return false;">
    <div id="left-top">
        <div><img src="~/Content/admin/images/main/member.gif" width="44" height="44" /></div>
        <span>用户：admin<br>角色：超级管理员</span>
    </div>
    <div style="float: left" id="my_menu" class="sdmenu">
        <div class="collapsed">
            <span>系统设置</span>
            <a href="/Admin/Main" target="mainFrame" onfocus="this.blur()">后台首页</a>
            <a href="/Admin/AddAdminInfo" target="mainFrame" onfocus="this.blur()">管理员添加</a>
            <a href="/Admin/AdminManage" target="mainFrame" onfocus="this.blur()">管理员管理</a>
            <a href="main_list.html" target="mainFrame" onfocus="this.blur()">密码修改</a>
        </div>
        <div>
            <span>会员管理</span>
            <a href="main.html" target="mainFrame" onfocus="this.blur()">会员管理</a>
            <a href="main.html" target="mainFrame" onfocus="this.blur()">会员卡储值</a>
        </div>
        <div>
            <span>商品管理</span>
            <a href="/Goods/Create" target="mainFrame" onfocus="this.blur()">商品添加</a>
            <a href="/Goods/Index" target="mainFrame" onfocus="this.blur()">商品管理</a>
        </div>
        <div>
            <span>销售管理</span>
            <a href="main.html" target="mainFrame" onfocus="this.blur()">订单管理</a>
            <a href="main_list.html" target="mainFrame" onfocus="this.blur()">评论管理</a>       
        </div>
        <div>
            <span>预约管理</span>
            <a href="main.html" target="mainFrame" onfocus="this.blur()">预约管理</a>
        </div>
        <div>
            <span>留言管理</span>
            <a href="main.html" target="mainFrame" onfocus="this.blur()">留言管理</a>

        </div>
    </div>
</body>
</html>