@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台页面头部</title>
    <link href="~/Content/admin/css/css.css" type="text/css" rel="stylesheet" />
</head>
<body onselectstart="return false" oncontextmenu=return(false) style="overflow-x:hidden;">
    <!--禁止网页另存为-->
    <noscript><iframe scr="*.htm"></iframe></noscript>
    <!--禁止网页另存为-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" id="header">
        <tr>
            <td rowspan="2" align="left" valign="top" id="logo"><img src="~/Content/admin/images/main/logo.jpg" width="74" height="64"></td>
            <td align="left" valign="bottom">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" valign="bottom" id="header-name">美容院管理系统</td>
                        <td align="right" valign="top" id="header-right">
                            <a href="/Login/AdminOut" target="topFrame" onfocus="this.blur()" class="admin-out">注销</a>
                            <a href="/Admin/Main" target="mainFrame" onfocus="this.blur()" class="admin-home">管理首页</a>
                            <a href="/Home/Index" target="_blank" onfocus="this.blur()" class="admin-index">网站首页</a>
                            <span>
                                <!-- 日历 -->
                                <script type=text/javascript src="../Content/Admin/js/clock.js"></script>
                                <script type=text/javascript>showcal();</script>
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="left" valign="bottom">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="left" valign="top" id="header-admin">后台管理系统</td>
                        <td align="left" valign="bottom" id="header-menu">
                            <a href="/Admin/Main" target="mainFrame" onfocus="this.blur()" id="menuon">后台首页</a>
                            <a href="/Admin/AdminManage" target="mainFrame" onfocus="this.blur()">管理员管理</a>
                            <a href="index.html" target="mainFrame" onfocus="this.blur()">会员管理</a>
                            <a href="index.html" target="mainFrame" onfocus="this.blur()">商品管理</a>
                            <a href="index.html" target="mainFrame" onfocus="this.blur()">订单管理</a>
                            <a href="index.html" target="mainFrame" onfocus="this.blur()">预约管理</a>
                            <a href="index.html" target="mainFrame" onfocus="this.blur()">留言管理</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>