@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台管理登录界面</title> 
    <link href="~/Content/admin/css/alogin.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">
        function login() {
            var mform = document.getElementById("loginform");
            var pwd = mform.password.value;
            var username = mform.username.value;
            if (username == "") {
                alert("请输入用户名");
                return false;
            }
            if (pwd == "") {
                alert("请输入密码");
                return false;
            }
            $("#loginform").submit();
        }
    </script>
</head>
<body>
    <form id="loginform" action="/Login/AdminLogin" method="post">
        <div class="Main">
            <ul>
                <li class="top"></li>
                <li class="top2"></li>
                <li class="topA"></li>

                <li class="topB"><span><img src="~/Content/admin/images/login/logo.jpg" /></span></li>
                <li class="topC"></li>
                <li class="topD">
                    <ul class="login">
                        <li>
                            <span class="left login-text">用户名：</span> <span style="left">
                                 <input id="username" type="text" class="txt" name="username" />
                            </span>
                        </li>
                        <li>
                            <span class="left login-text">密码：</span> <span style="left">
                                   <input id="password" type="password" class="txt" name="pwd" />
                            </span>
                        </li>
                    </ul>
                </li>
                <li class="topE"></li>
                <li class="middle_A">

                </li>
                <li class="middle_B">
                </li>
                <li class="middle_C">
                 
                    <span class="btn">
                        <input type="button" onclick="login()" style="width:104px;height:35px; background-image: url(/Content/admin/images/login/btnlogin.gif)" />
                    </span>
                  
</li>
                <li class="middle_D"></li>
                <li class="bottom_A"></li>
                <li class="bottom_B">美容院后台管理系统&nbsp;&nbsp;www.BeautySalon.com</li>
            </ul>
        </div>
    </form>
</body>
</html>
