@{
    ViewBag.Title = "About";
    Layout = "~/Views/master.cshtml";
}


@section scripts{
    <script>
    $(function () {
        //  Initialize Backgound Stretcher
        $('BODY').bgStretcher({
            images: ['~/Content/images/slide-1.jpg'],
            imageWidth: 1600,
            imageHeight: 964,
            resizeProportionally: true
        });
    });
   </script>
    }
<!--==============================content=================================-->
    <div class="main-block">
        <div class="container_12">
            <div class="wrapper border-vert">
                <article class="grid_5">
                    <h3>欢迎</h3>
                    <figure class="img-rounded"><img src="images/page2-img1.jpg" alt="" /> </figure>
                    <h4>欢迎来到咱们的美容院网站</h4>
                    <p><a href="/Home/Goods" class="link-1" rel="nofollow">点击这里</a> 本网站提供质量保证的美容产品和科学的美容项目</p>
                    <p>产品均使用无硅油的、无公害的添加剂，用户和放心使用 </p>
                    @*<a href="#" class="button">More</a>*@
                </article>
                <article class="grid_3 prefix_2">
                    <h3>我们的服务</h3>
                    <ul class="list-services">
                        <li>
                            <figure class="img-rounded1"><img src="images/page2-img2.jpg" alt="" /> </figure>
                            <h4><a href="#">美容服务</a></h4>
                            <ul class="list">
                                <li><a href="#">面部按摩</a></li>
                                <li><a href="#">祛斑疗程</a></li>
                                <li><a href="#">去痘疗程</a></li>
                            </ul>
                        </li>
                        <li>
                            <figure class="img-rounded1"><img src="images/page2-img3.jpg" alt="" /> </figure>
                            <h4><a href="#">美甲服务</a></h4>
                            <ul class="list">
                                <li><a href="#">水晶甲</a></li>
                                <li><a href="#">光疗甲</a></li>
                                <li><a href="#">QQ甲</a></li>
                            </ul>
                        </li>
                    </ul>
                    <a href="/Home/Service" class="button">更多</a>
                </article>
            </div>
        </div>
    </div>
