@{
    ViewBag.Title = "Goods";
    Layout = "~/Views/master.cshtml";
}

@section scripts{

<script src="~/Content/js/jquery.elastislide.js"></script>
<script src="~/Content/js/jquery.fancybox.pack.js"></script>
<style>
        .menu a {
            color: #b3adad;
            font-size: 18px;
            line-height: 20px;
            display: block;
            position: relative;
            text-decoration: none !important;
            padding: 7px 12px 9px;
            font-family: 'Noto Sans', sans-serif;
        }
    </style>
<script>
    $(document).ready(function () {
        $('#carousel').elastislide({ imageW: 300, margin: 20, minItems: 3 });
        $('.magnifier').fancybox();


        $(".view").hover(
        function () { $(this).find("img").stop().animate({ opacity: 0.5 }, "normal") },
        function () { $(this).find("img").stop().animate({ opacity: 1 }, "normal") })
    });

    function submit(id) {
        var json = { gid: id };
        $.post("/Handel/GoodsCarHandler.ashx", json, function (data) {
            if (data == "ok")
                alert("添加成功");
            else
                alert(data);
        });
    }

</script>
    }

<div class="main-block">
    <div class="main">
        <h3>我们的商品</h3>

        <div id="carousel" class="es-carousel-wrapper ">

            <div class="es-carousel">
               
                <ul>
                   @{
                     List<BeautySalonWebApp.Models.BS_Goods> mlist = (List<BeautySalonWebApp.Models.BS_Goods>)ViewData["List"];
                     for (int i = 0; i < mlist.Count; i++)
                     {
                         <li>
                             <span>品牌：@mlist[i].Blank</span>
                         <figure class="img-rounded">
                             <a class="view magnifier" data-fancybox-group="gallery" href="/Home/GoodsDetails/@mlist[i].Id" title="">
                                 <img src="@mlist[i].GoodsPic" width="300" height="190" alt="" />
                             </a> 
                         </figure>
                             <span style="float: left; margin-top: -10px">价格：@mlist[i].GoodsPrice 元 &nbsp;&nbsp;</span>
                            
                             <span class="menu" style="float: right;margin-top:-20px">
                                 <a href="" onclick="submit(@mlist[i].Id)">加入购物车</a>   
                             </span>
                             <br />
                             @{
                         if (i < mlist.Count-1)
                         { 
                             i = i + 1; 
                             <span>品牌：@mlist[i].Blank</span>
                             <figure class="img-rounded">
                                 <a class="view magnifier" data-fancybox-group="gallery" href="/GoodsCar/GoodsDetails/@mlist[i].Id" title="">
                                     <img src="@mlist[i].GoodsPic" width="300" height="190" alt="" />
                                 </a> 
                             </figure>
                            
                             <span style="float: left; margin-top: -10px">价格：@mlist[i].GoodsPrice 元 &nbsp;&nbsp;</span>
                            
                             <span class="menu" style="float: right;margin-top:-20px">
                                 <a href="" onclick="submit(@mlist[i].Id)">加入购物车</a>   
                             </span>
                             <br />
                         }
                         }                        
                         </li>
                     }
                     }
                </ul>
              
            </div>
        </div>
    </div>
</div>

